.btn {
    height: 50px;
    border-radius: 25px;
    &:hover, &:focus, &:active {
        box-shadow: 0 0 6px rgba(255, 255, 255, 1)!important;
    }
}
.btn-shadow {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
