// .box {
//     height: 100px;
//     width: 100px;
//     &:hover {
//         background-color: theme-color-level("hex", -1);
//     }
// }


// @each $color, $value in $theme-colors {
//     .box-#{$color} {
//         background-color: $value;
//     }
// }



.form-control {
    background: none;
    border-color: white;
    border-radius: 10px;
    color: white;
    &::placeholder {
        color: white;
    }
    &:hover, &:focus, &:active {
        background: none;
        border-color: white;
        color: white;
    }
}
.form-control-Licon {
    border-left: 0;
}
.form-control-Dicon {
    border-left: 0;
    border-right: 0;
}
.input-group-addon {
    background: none;
    color: white;
    border-color: white;
    border-radius: 10px;
}